.customLabel {
  margin: 16px;
}
.customButtom {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 3px 1.2em;
  font-weight: 500;
  font-family: inherit;
  background-color: #000000;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-top: 10px;
}
.customButtom:hover {
  border-color: #646cff;
}
.customButtom:focus,
.customButtom:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
